body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fed9b7;
}

h1 {
  color: #0fa3b1;
  font-size: 3em;
  margin-bottom: 1.5em;
}

.giphy {
  border: 30px solid #b5e2fa;
  border-radius: 10px;
}

.search-container {
  margin-bottom: 2em;
}
